.cabecalho{
     padding: 2em;
}

.cabecalho__menu{
     background-image: url("../img/assets/MenuHamburguer/Menu\ Aberto.svg");
     display: inline-block;
}

.conteiner__botao:checked ~ .conteiner__rotulo > .cabecalho__menu {
     background-image: url("../img/assets/MenuHamburguer/Menu\ Aberto.svg");
}


.cabecalho{
     background-color: var(--cor-secundaria);
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
}

.cabecalho__logo__texto{
     display: none;
}

.cabecalho__opcoes{
     display: none;
}

.conteiner{
     display: flex;
     align-items: center;
}

.conteiner__botao{
     display: none;
}

/* COMBINADOR CSS */
.conteiner__botao:checked ~ .lista-menu{
     display: block;
}

.cabecalho__menu{
     width: 30px;
     height: 30px;
     background-image: url("../img/assets/MenuHamburguer/Menu\ Aberto.svg");
     background-repeat: no-repeat;
     background-position: center;
     display: inline-block;
}

.lista-menu{
     display: none;
     position: absolute;
     top: 100%;
     left: 0%;
     width: 67vw;
     list-style: none;
}

.lista-menu__item{
     padding: 1em;
     background-color: var(--cor-secundaria);
}

.lista-menu__item a{
     color: var(--cor-terciaria);
     font-family: var(--fonte-secundaria);
     text-decoration: none;
     font-size: 1.5rem;
     font-weight: 700;
}

.conteiner__texto{
     display: none;
}

@media screen and (min-width: 1024px) {

     .cabecalho__logo{
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .cabecalho__menu{
          display: none;
     }

     .cabecalho__opcoes{
          text-transform: uppercase;
          display: flex;
          gap: 2em;
     }

     .opcoes__item__categorias{
          color: var(--cor-principal);
     }

     .opcoes__item{
          list-style: none;
     }

     .opcoes__item a{
          color: var(--cor-secundaria);
          font-family: var(--fonte-secundaria);
          font-weight: 600;
          text-decoration: none;
     }

     .conteiner__imagem__transparent{
          display: none;
     }

     .opcoes__menu:checked ~ .lista-menu{
          display: block;
          width: auto;
     }

     .opcoes__menu{
          display: none;
     }

     .opcoes__menu:checked~.opcoes__rotulo>.opcoes__item{
          background: var(--cor-azul);
          color: var(--cor-branco);
     }

     .opcoes__item{
          padding: 2em 1em;
     }

     .lista-menu__item:hover{
          background: var(--cor-azul);
     }

     .lista-menu__item:hover > .lista-menu__link{
          -webkit-text-fill-color: var(--cor-branco);
     }
}

@media screen and (min-width: 1740px) {
     
     .conteiner__link{
          display: flex;
          align-items: center;    
          text-decoration: none;
          color: var(--cor-terciaria);
     }

     .conteiner__texto{
          display: block;
     }

     .cabecalho{
          padding: 0em 1.5em 0em 0em;
     }

     .cabecalho__menu{
          display: none;
     }

     .cabecalho__opcoes{
          margin-right: 20%;
     }
}