.apresentacao__conteudo__port{
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     justify-content: center;
}

.apresentacao__conteudo__port__titulado{
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     gap: 40px;
     margin: 0em 0em 2em 0em; 
}

.portifolio__descricao{
     font-family: var(--fonte-secundaria);
     margin: 0em 2em;
}

.apresentacao__conteudo__conteiner{
     width: 19em;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin: 0em 0em 2em 0em;
     padding: 1em;
     border: 3px solid var(--cor-terciaria);
     border-radius: 2.3em;
}

.apresentacao__conteudo__conteiner__img{
     width: 19em;
     border-radius: 1em;
     margin: 1em 0em 1em 0em;
}

.apresentacao__conteudo__conteiner__titulo{
     font-family: var(--fonte-secundaria);
     font-weight: 900;
     margin: 0em 0em 0em 0em;
}

.apresentacao__conteudo__conteiner__paragrafo{
     font-family: var(--fonte-secundaria);
     margin: 1.5em 0em 1.5em 0em;
}

.apresentacao__conteudo__conteiner__footer__titulo{
     font-family: var(--fonte-secundaria);
     margin: 1.5em 0em 1.2em 0em;
     
}

.link__navegacao__port{
     border-style: solid;
     border-color: var(--cor-terciaria);
     color: var(--cor-secundaria);
     font-family: var(--fonte-secundaria);
     font-weight: 600;
     text-align: center;
     text-decoration: none;
     font-size: 1rem;
     border-radius: 1.1em;
     padding: .5em 5em;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
     padding: .5em 5em;
     margin-bottom: 7.5em;
}

.apresentacao__links__link__sub{
     font-size: .7em;
}

.apresentacao__conteudo__conteiner__footer__linguas{
     font-family: var(--fonte-secundaria);
     margin: 1.2em 0em 1em 0em;
}

.apresentacao__conteudo__conteiner__footer__linguas__lingua{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 1em;
}

.apresentacao__conteudo__conteiner__footer__linguas__lingua__l{
     width: 3em;
}

@media screen and (min-width: 505px) {  
     
     .apresentacao__conteudo__conteiner{
          width: 25em;
     }
     
     .apresentacao__conteudo__conteiner__img{
          width: 23em;
     }
}

@media screen and (min-width: 600px) {
     
     .apresentacao__conteudo__conteiner{
          width: 25em;
     }
     
     .apresentacao__conteudo__conteiner__img{
          width: 22em;
     }
}

@media screen and (min-width: 700px) {     
     .apresentacao__conteudo__conteiner__img{
          width: 22em;
     }
}

@media screen and (min-width: 768px) {
     .apresentacao__conteudo__conteiner__div{
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          gap: 1.6em;
     }

     .apresentacao__conteudo__conteiner{
          width: 20em;
     }
     
     .apresentacao__conteudo__conteiner__img{
          width: 19em;
     }

     .conteiner__paragrafo__{
          margin-bottom: 10.5em;
     }
}

@media screen and (min-width: 800px) {     
     .apresentacao__conteudo__conteiner{
          width: 16.5em;
     }

     .apresentacao__conteudo__conteiner__img{
          width: 16.5em;
     }
}

@media screen and (min-width: 900px) {  
     
     .apresentacao__conteudo__conteiner{
          width: 18em;
     }
     
     .apresentacao__conteudo__conteiner__img{
          width: 18em;
     }

     

     
}

@media screen and (min-width: 1100px) {     
     .apresentacao__conteudo__conteiner__img{
          width: 17.5em;
     }
}

@media screen and (min-width: 1350px) {

     .apresentacao__conteudo__conteiner{
          width: 19em;
     }

     .apresentacao__conteudo__conteiner__img{
          width: 19em;
     }
}



